<div id="sidebar">

    <div id="close-sidebar">x</div>

    <div id="logo">
        <span id="title">ФИНКИ</span>
        <br>
        <span id="subtitle">еко-информатика</span>
    </div>

    <div id="radio-map-type" class="radio-group">
        {{#each mapTypes}}
            <input type="radio" name="map-type" value="{{value}}" {{checked}}> {{description}}<br>
        {{/each}}
    </div>

    <select id="city" class="select" name="city">
        {{#each cities}}
            <option id="{{id}}" value="{{value}}">{{content}}</option>
        {{/each}}
    </select>

    <select id="year" class="select" name="year">
        {{#each years}}
            <option id="{{id}}" value="{{value}}">{{content}}</option>
        {{/each}}
    </select>

    <select id="month" class="select" name="month">
        {{#each months}}
            <option id="{{id}}" value="{{value}}">{{content}}</option>
        {{/each}}
    </select>

    <button id="submit">Превземи</button>

</div>
